#block_ourteam{
    padding-top: 30px;
    padding-bottom: 100px;
    background-image: url("../background-ourteam.jpg");
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
}

#title_ourteam h4 {
    text-align: center;
}

.card-user{
    margin:auto;
    margin-top:10px;
    filter: drop-shadow(0px 10px 5px rgba(0,0,0,0.5));
    cursor: pointer;
    text-align: center;
}

.card-user img:hover{
    background:rgba(0,0,0, 0.3);
}

.content_img .img_normal{
    display:block;
}

.content_img:hover .cd-img-overlay {
    opacity:1;
}

.content_img:hover .img_ourteam{
    filter: blur(3px);
    transition: all .7s ease-out;
}

.cd-img-overlay .x-hover {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 0;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.cd-member-bio .cd-member-bio-pict {
    float: left;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2rem;
    position: relative;
}
.cd-member-bio {
    float: left;
    margin: 0 0px 0px;
}
.cd-member-bio .cd-bio-content {
    padding: 2em;
    text-align: left;
    font-size: 16px;
}

.cd-member-bio .cd-bio-content h3{
   text-transform: uppercase;
}

.cd-member-bio .cd-bio-content p {
    text-align: left;
}

.cd-member-bio-close {
    right: 20px;
    top: 20px;
}
.cd-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    display: none;
    z-index: 9998;
}

.cd-member-bio-close {
    width: 32px;
    height: 32px;
    overflow: hidden;
    position: fixed;
    top: 10px;
    right: 10px;
    text-indent: 100%;
    white-space: nowrap;
    z-index: 3;
    display: none;
}
.cd-member-bio-close.is-visible {
    display: block;
    -webkit-animation: cd-move-in 0.8s;
    -moz-animation: cd-move-in 0.8s;
    animation: cd-move-in 0.8s;
}

#cd-team {
    overflow: hidden;
}

#cd-team .container {
    display:flex;
    flex-wrap: wrap;
}

#cd-team.slide-out .cd-overlay {
    display: block;
    -webkit-animation: cd-fade-in 0.3s;
    -moz-animation: cd-fade-in 0.3s;
    animation: cd-fade-in 0.3s;
}


.cd-member-bio {
    position: fixed;
    top: 0;
    right: 0;
    width:600px;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background: #fff;
    z-index: 9999;
    -webkit-transform: translateX(600px);
    -moz-transform: translateX(600px);
    -ms-transform: translateX(600px);
    -o-transform: translateX(600px);
    transform: translateX(600px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.modal-close {
    width:100%;
    text-align: center;
    cursor: pointer;
    font-size:3rem;
    margin-bottom:30px;
}

.cd-member-bio-pict img{
    width:100%;
}

.modal-ourteam{
    color:white;
    padding:20px;
}

.cd-img-overlay span {
    bottom: auto;
    color: black;
    border-radius:10px;
    font-size: 12px;
    left: 0;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:#ffed00;
    padding-top: 10px;
    position: relative;
    right: auto;
    top: 0;
    z-index: 8;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.modal-footer{
    text-align:center !important;
}

.modal-footer button{
    background:#ffed00;
}

.btn-modal{
    font-weight: bold;
    color:black;
}
.content_img .cd-img-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity:0;
    z-index:2;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.content_img .cd-img-overlay p{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    width: 80%;
    left: 50%;
    margin: auto;
    text-align: center;
    z-index: 8;
}

.content_img{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius:10px;
    position:relative;
}

.content_img:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.content_img:hover .img_ourteam.img_hover{
    margin-top: -300px;
}

.img_ourteam{
    width: 100%;
    height: 100%;
    transition: all .4s;
}

.bg-yellow{
    background:#ffed00;
}

.progress{
    height:30px;
    width:100%;
}
.content_img{
    height: 340px;
    margin: auto;
    width:90%;
    background:#ffed00;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    overflow: hidden;
}

.col-lg-3 .content_img{
    height:240px;
}

.box-path{
    content: '';
    width: 98%;
    height: 98%;
    position:relative;
    top:4px;
    margin:auto;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.col-lg-3 .box-path {
    top:2px;
}

.contain-info{
    position:absolute;
    bottom:20%;
    z-index:1;
    width:100%;
    background:rgba(255, 237, 0, 0.6);
}

.contain-info p{
    text-align:center;
    margin:0;
    color:black;
}

.content-ourteam p{
    color:white;
}
.name_ourteam{
    font-weight: bold;
    font-size: 25px;
    font-family: airstrikehalf, Arial, sans-serif;
    margin-top: 10px;
}
@media screen and (max-width:630px){
    .card-user {
        width:100%;
    }
}

@media screen and (max-width:425px){
    .card-user{
        margin-top:20px;
    }

    .content-ourteam{
        margin-top:10px;
        color:white;
    }
}